.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
  overflow: hidden;
  isolation: isolate;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero picture::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgb(0 22 59 / 70%);
  z-index: 1;
}

.hero > div:first-child::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgb(0 22 59 / 70%);
  z-index: 0;
  pointer-events: none;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero .hero-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero .hero-video + picture {
  display: none;
}

.hero h1 {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
}

.hero p {
  position: relative;
  z-index: 1;
  color: white;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hero .button-container a {
  background-color: white;
  color: rgb(0 22 59);
  border-color: white;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}
